.card {
  width: 18rem;
  margin: auto;
  transform: translateY(12rem);
  border: 3px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.link {
  margin-top: 2rem;
  text-align: center;
}

.link a {
  text-align: center;
}

.link a:hover {
  background-color: rgba(14, 110, 110, 0.1);
}